@import "bootstrap/dist/css/bootstrap.min.css";

.card {
    height: 550px;
    width: 400px;
    font-size: 8rem;
    font-family: 'Times New Roman', Times, serif;
}

.card>div {
    line-height: 6rem;
}

.suit-bottom {
    transform: rotateX(180deg);
}

.diamond::after {
    content: "♦";
    color: var(--bs-danger);
}

.heart::after {
    content: "♥";
    color: var(--bs-danger);
}

.spade::after {
    content: "♠";
    color: black;
}

.club::after {
    content: "♣";
    color: black;
}